body {
	background: linear-gradient(-45deg, #331f1f, #2b1414, #12272e, #0d2721);
	background-size: 1000% 100%;
	animation: gradient 12s ease infinite;
	height: 100vh;
}
.slider{
	background-color: transparent;
	width: 86%;
	margin: 3% 7% 5% 7%;
	padding-top: 1%;
	border-radius: 0.5%;	
}
.main{
background-color: whitesmoke;
width: 86%;
margin: 3% 7% 5% 7%;
border-radius: 0.5%;
}
.Comment{
	padding-left: 7%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

